@import "../styles/custom-media.css";

.root {
  position: relative;
  color: var(--color-black, #000);
  margin: 0 auto;
  max-width: var(--width-large);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 1.5rem;
}

.root a {
  color: inherit;
  text-decoration: inherit;
}

.list {
  display: flex;
  align-items: center;

  @media (--media-max-medium) {
    order: 1;
    margin-left: auto;
  }
}

.item {
  display: block;
  white-space: nowrap;
  line-height: calc(var(--font-base-line-height) * 1.5rem);
  padding: 0.25rem 1.25rem;
  height: 2rem;

  &[data-is-active="true"] {
    background-color: var(--color-white, #fff);
    color: var(--color-green);
  }

  &[data-is-last="true"] {
    background-color: var(--color-green);
    color: white;
    border-bottom: 0 !important;
    transition: background-color .15s;

    &:hover {
      background-color: var(--color-green-dark);
    }
  }

  @nest .root[data-show-nav="true"] & [data-is-active="true"]::before {
    display: none;
  }

  @media (--media-min-medium) {
    margin-left: 0.5rem;
  }
}
