@import "../styles/custom-media.css";

.root {
  position: relative;
  color: var(--color-black, #000);
  display: flex;
  margin: 0 auto;
  max-width: var(--width-large);
  flex-wrap: wrap;
}

.root a {
  color: inherit;
  text-decoration: inherit;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media (--media-min-medium) {
    flex: 1;
  }

  /*
    position: fixed;
    bottom: 0;
    background: #fdf3dc;
    width: 100%;
    box-shadow: 0 0 2rem 0rem rgba(60, 60, 60, 0.3);
   */
}

.navItems {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem;

  @media (--media-min-medium) {
  }

  @media (--media-max-medium) {
    /*
      flex: 1;
      justify-content: space-around;
      padding: 0;
     */
  }
}

.navItem {
  display: block;
  white-space: nowrap;
  line-height: calc(var(--font-base-line-height) * 1.5rem);

  &:last-child a {
    background-color: var(--color-green);
    color: white;
    border-bottom: 0 !important;
    transition: background-color .15s;

    &:hover {
      background-color: var(--color-green-dark);
    }
  }

  & > a {
    display: block;
    position: relative;
    padding: 0.25rem 1.25rem;
    height: 2rem;

    &[data-is-active="true"] {
      background-color: var(--color-white, #fff);
      color: var(--color-green);
    }

    @media (--media-max-medium) {
    }
  }


  @nest .root[data-show-nav="true"] & > a[data-is-active="true"]::before {
    display: none;
  }

  @media (--media-min-medium) {
    margin-left: 0.5rem;
  }
}
