@import './custom-properties.css';

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  font-weight: 500;
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-theme-bg);
  color: var(--color-black);
  margin: 0;
}

html,
body,
:global(#__next),
:global(.container) {
  height: 100%;
}

:global(.content) {
  min-height: calc(100% - 84px - 218px);
}


h1, h2, h3, h4, h5 {
  margin: 0;
}

h1, h2, h3, h5 {
  font-family: var(--font-family-header);
  color: var(--color-text-special);

  @media (--media-min-medium) {
    font-size: var(--font-large-size);
    line-height: var(--font-large-line-height);
  }
}

h1 {
  font-size: var(--font-title1-size);
  line-height: var(--font-title1-line-height);
}

h2 {
  font-size: var(--font-title2-size);
  line-height: var(--font-title2-line-height);
}

h3 {
  font-size: var(--font-title3-size);
  line-height: var(--font-title3-line-height);
}

h5 {
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
}

/* label */
h4 {
  font-family: var(--font-family-sans);
  font-weight: 100;
  text-transform: uppercase;
  background-color: white;
  text-align: center;
  font-size: 2.5rem;
  display: inline;
  padding: 0.35em 0.25em 0.1em;
  color: var(--color-theme-text);
}

@font-face {
  font-family: 'YoungSerif';
  src: url('/static/fonts/YoungSerif-Regular.woff') format('woff'),
    url('/static/fonts/YoungSerif-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/static/fonts/SpaceGrotesk-VF.ttf') format('truetype-variations');
  font-weight: 1 999;
}

a {
  transition: font-weight .45s ease-out;
}

a:hover {
  font-weight: 900;
}
