@import './custom-media.css';

:root {
  --wide-container: 60rem;
  --narrow-container: 40rem;

  --font-family-sans: "SpaceGrotesk", sans-serif;
  --font-family-header: "YoungSerif", serif;

  --color-black: #202123;
  --color-dark-gray: #32373e;
  --color-gray: #697a90;
  --color-light-gray: #b4bcc7;
  --color-very-light-gray: #e7ebed;
  --color-white: #fff;
  --color-green: hsl(170, 36%, 23%);
  --color-green-light: hsl(170, 36%, 30%);
  --color-green-dark: hsl(170, 36%, 15%);

  --color-accent: #156dff;
  --color-theme-bg: #fff3dc;
  --color-theme-dark: #ffe7bd;
  --color-theme-text: #ff7e42;
  --color-theme-text-dark: hsla(19, 90%, 48%, 1);
  --color-text-special: #1d3d37;
  --color-text: #073200;

  --color-section-odd: white;

  /* Spacing */
  --spacing-tight: 0.5rem;
  --spacing-base: 1rem;
  --spacing-nice: 2rem;
  --spacing-relaxed: 4rem;
  --spacing-zen: 6rem;

  /* Typography */
  --unit: 17;
  --font-micro-size: calc(10 / var(--unit) * 1rem); /* 10px */
  --font-micro-line-height: calc(12 / 10); /* 12px */
  --font-small-size: calc(14 / var(--unit) * 1rem); /* 14px */
  --font-small-line-height: calc(21 / 14); /* 21px */
  --font-base-size: calc(var(--unit) * 1px); /* 16px */
  --font-base-line-height: calc(24 / var(--unit)); /* 24px */
  --font-large-size: calc(18 / var(--unit) * 1rem); /* 18px */
  --font-large-line-height: calc(30 / 18); /* 27px */
  --font-large-intro-size: calc(17 / var(--unit) * 1rem); /* 21px */

  --font-title3-size: calc(21 / var(--unit) * 1rem); /* 21px */
  --font-title3-line-height: calc(30 / 21); /* 30px */

  --font-title25-size: calc(30 / var(--unit) * 1rem); /* 21px */
  --font-title25-line-height: calc(30 / 21); /* 30px */

  --font-title2-size: calc(32 / var(--unit) * 1rem); /* 24px */
  --font-title2-line-height: calc(48 / 32); /* 33px */

  --font-title1-size: calc(71 / var(--unit) * 1rem); /* 49px */
  --font-title1-line-height: calc(67 / 71); /* 57px */

  @media (--media-min-small) {
    --font-title3-size: calc(24 / var(--unit) * 1rem); /* 21px */
    --font-title3-line-height: calc(30 / 21); /* 30px */

    --font-title2-size: calc(42 / var(--unit) * 1rem); /* 24px */
    --font-title2-line-height: calc(48 / 28); /* 33px */

    --font-title1-size: calc(80 / var(--unit) * 1rem);
    --font-title1-line-height: calc(49 / 53);
  }

  /* Widths */
  --width-x-small: 22em;
  --width-small: 40em;
  --width-medium: 60em;
  --width-large: 80em;
  --width-x-large: 100em;
}



html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  font-weight: 500;
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-theme-bg);
  color: var(--color-black);
  margin: 0;
  font-size: var(--font-base-size);
}

html,
body,
:global(#__next),
:global(.container) {
  height: 100%;
  overflow-x: hidden;
}

:global(.content) {
  min-height: calc(100% - 84px - 218px);
}


h1, h2, h3, h4, h5 {
  margin: 0;
}

h1, h2, h3, h5 {
  font-family: var(--font-family-header);
  color: var(--color-text-special);

  @media (--media-min-medium) {
    font-size: var(--font-large-size);
    line-height: var(--font-large-line-height);
  }
}

h1 {
  font-size: var(--font-title1-size);
  line-height: var(--font-title1-line-height);
}

h2 {
  font-size: var(--font-title2-size);
  line-height: var(--font-title2-line-height);
}

h3 {
  font-size: var(--font-title3-size);
  line-height: var(--font-title3-line-height);
}

h5 {
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
}

/* label */
h4 {
  font-family: var(--font-family-sans);
  font-weight: 100;
  text-transform: uppercase;
  background-color: white;
  text-align: center;
  font-size: 2.5rem;
  display: inline;
  padding: 0.35em 0.25em 0.1em;
  color: var(--color-theme-text);

  @media (--media-min-medium) {
    font-size: 3rem;
  }
}

@font-face {
  font-family: 'YoungSerif';
  src: url('/static/fonts/YoungSerif-Regular.woff') format('woff'),
    url('/static/fonts/YoungSerif-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/static/fonts/SpaceGrotesk-VF.ttf') format('truetype-variations');
  font-weight: 1 999;
  font-display: swap;
}

blockquote {
  background: rgba(0,0,0,0.1);
  padding: 2rem;
  font-size: 1.2em;
  line-height: 1.3;
  font-family: var(--font-family-header);
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  max-width: 30rem;
}

a {
  transition: color .15s ease-out, border .15s ease-out;
  border-bottom: 2px solid transparent;
}

a:hover {
  color: var(--color-theme-text);
  border-color: currentColor;
  text-decoration: none !important;
}
