@import './custom-media.css';
.center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container {
  margin: 0 1rem;

  @media (--typography-breakpoint) {
    margin: 0;
    width: 100%;
  }
}

.normal-container {
  composes: container;

  @media (--typography-breakpoint) {
    max-width: var(--wide-container, 60rem);
  }
}

.narrow-container {
  composes: container;

  @media (--typography-breakpoint) {
    max-width: var(--narrow-container, 30rem);
  }
}

.label {
  font-family: var(--font-family-sans);
  font-weight: 100;
  text-transform: uppercase;
  background-color: white;
  padding: 0.35em 0.25em 0.1em;
  color: var(--color-theme-text)
}

.thin-header {
  text-align: center;
  font-size: var(--font-title2-size);
  line-height: var(--font-title2-line-height);
  font-family: var(--font-family-sans);
  font-weight: 200;
  text-transform: uppercase;
  margin: 0 0 0.25em;
}

:root {
  --border-image: url(/static/images/zig-tan.svg);
  --border-size: 12px;
  --negative-border-size: -12px;
}

.zigzag-bottom {
  position: relative;

}
.zigzag-bottom:after {
  content: '';
  position: absolute;
  left: 50%;
  width: 100vw;
  transform: translateX(-50vw);
  bottom: var(--negative-border-size);
  height: var(--border-size);
  background-size: calc(var(--border-size) * 3) var(--border-size);
  background-position: 0 var(--border-size);
  background-image: var(--border-image);
  z-index: 1;
}

.button-pop {
  color: inherit;
  display: block;
  border-radius: 0;
  border: 1px solid currentColor;
  background-color: transparent;
  padding: 1em 1.5em;
  text-decoration: inherit;
  font-weight: 600;
  max-width: fit-content;
  transition: transform 50ms ease-in-out;
  transform: scale(1);
}

.button-subtle {
  padding: var(--spacing-tight) var(--spacing-nice);
  background-color: var(--color-green);
  transition: background-color .15s;
  color: white;
  text-decoration: none;
  font-size: var(--font-large-size);
  line-height: var(--font-large-size);
  margin-top: var(--spacing-nice);
  display: inline-block;
  @media (--media-min-medium) {  }
}

.button-subtle:hover {
  background-color: var(--color-green-dark);
  border-color: transparent;
  color: white;
}

.button-subtle + .button {
  margin-left: 1rem;
}