@import './custom-media.css';
@import './custom-properties.css';

.center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  margin: 0 1rem;

  @media (--typography-breakpoint) {
    margin: 0;
    width: 100%;
  }
}

.normal-container {
  composes: container;

  @media (--typography-breakpoint) {
    max-width: var(--wide-container, 60rem);
  }
}

.narrow-container {
  composes: container;

  @media (--typography-breakpoint) {
    max-width: var(--narrow-container, 30rem);
  }
}

.label {
  font-family: var(--font-family-sans);
  font-weight: 100;
  text-transform: uppercase;
  background-color: white;
  padding: 0.35em 0.25em 0.1em;
  color: var(--color-theme-text)
}
