@import './custom-media.css';
@import './custom-properties.css';

.center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container {
  margin: 0 1rem;

  @media (--typography-breakpoint) {
    margin: 0;
    width: 100%;
  }
}

.normal-container {
  composes: container;

  @media (--typography-breakpoint) {
    max-width: var(--wide-container, 60rem);
  }
}

.narrow-container {
  composes: container;

  @media (--typography-breakpoint) {
    max-width: var(--narrow-container, 30rem);
  }
}

.label {
  font-family: var(--font-family-sans);
  font-weight: 100;
  text-transform: uppercase;
  background-color: white;
  padding: 0.35em 0.25em 0.1em;
  color: var(--color-theme-text)
}

.thin-header {
  text-align: center;
  font-size: var(--font-title1-size);
  line-height: var(--font-title1-line-height);
  font-family: var(--font-family-sans);
  font-weight: 200;
  text-transform: uppercase;
  margin: 0 0 0.25em;
}

:root {
  --border-image: url(/static/images/zig-tan.svg);
  --border-size: 1rem;
  --negative-border-size: -1rem;
}

.zigzag-bottom {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    width: 100vw;
    transform: translateX(-50vw);
    bottom: var(--negative-border-size);
    height: var(--border-size);
    background-size: calc(var(--border-size) * 3) var(--border-size);
    background-position: 0 var(--border-size);
    background-image: var(--border-image);
    z-index: 1;
    color: var(--border-color);
  }
}
