@import "../../styles/custom-media.css";

.root {
  font-size: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  flex-grow: 1;

  @nest & > a {
    display: block;
    padding: 1.5em;
    border-bottom: 0 !important;
    transition: filter .2s;

    &:hover {
      filter: brightness(0.5);
    }

    @supports (padding-top: env(safe-area-inset-top)) {
      padding-left: calc(env(safe-area-inset-left) + 1.5rem);
    }
  }

  @nest & img, & svg {
    height: 3rem;
    color: var(--color-text);
  }

  @nest & svg path {
    fill: currentColor;
  }

  @media (--media-max-medium) {
    flex: 1 0 7rem;
  }
}

.logo {
  display: block;
}
