@import '../../styles/custom-media.css';
.root {
  padding: 1rem;
  max-width: var(--width-small);
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  line-height: var(--font-large-line-height);
  font-size: var(--font-large-intro-size);

  &:not(:first-child) {
    padding: 5rem 0 3rem;

    .title {
      font-size: 2rem;
    }
  }

  @media (--media-min-medium) {
    padding: 1rem 0 3rem;
  }
}

.title {
  composes: thin-header from '../../styles/shared.module.css';
  color: var(--color-theme-text);
  margin-bottom: 0;
  line-height: 1;
}

.intro {
  color: var(--color-green);

  @nest & img {
    max-width: calc(100vw - 2rem);
  }
}

.links {
  display: flex;
  justify-content: center;
}

.link {
  padding: 0 1em;
  text-decoration: none;
  color: var(--color-theme-text);
  font-weight: 600;

  & + .link {
    &:before {
      //TODO: dot
    }
  }
}
