@import '../../styles/custom-media.css';
.root {
  padding: 2rem 1rem;
  max-width: var(--width-small);
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  line-height: var(--font-large-line-height);
  font-size: var(--font-large-intro-size);

  &:not(:first-child) {
    padding: 5rem 0 3rem;
  }

  @media (--media-min-medium) {
    padding: 4rem 0;
  }
}

.title {
  composes: thin-header from '../../styles/shared.module.css';
  color: var(--color-theme-text);
}

.intro {
  color: var(--color-green);
}

.links {
  display: flex;
  justify-content: center;
}

.link {
  padding: 0 1em;
  text-decoration: none;
  color: var(--color-theme-text);
  font-weight: 600;

  & + .link {
    border-left: 2px solid rgba(0,0,0,0.7);
  }
}
