@import "../../styles/custom-media.css";
@import '../../styles/custom-properties.css';

.root {
  padding: 2rem;
  background-color: white;
  border-top: 4px dashed white;
  display: grid;
  grid-gap: 1rem 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  @media (--media-min-medium) {
    grid-gap: 2rem 4rem;
    padding: 4rem;
  }
}

.title {
  font-size: var(--font-title3-size);
  line-height: var(--font-title3-line-height);
}

.image {
  display: block;
  grid-column: 1;
  width: 100%
}

.text {
}

.cta {
  grid-column: 1 / 3;
}

.content {
  max-width: var(--width-medium);
  grid-column: 2;
}
