@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.root {
  padding: 12rem 0 4rem;
  background-color: var(--color-green);
  background-image: url(/static/images/hex-grid.png);
  background-repeat: repeat-x;
  background-size: 6rem;
  --border-image: url(/static/images/zig-green.svg);
  composes: zigzag-bottom from '../../styles/shared.module.css';

  @media (--media-min-medium) {
    padding: 14rem 0;
  }
}

.content {
  margin: 0 auto;
  max-width: var(--width-x-small);

  @media (--media-min-medium) {
    max-width: var(--width-small);
  }
}

.heading {
  font-family: var(--font-family-sans);
  font-weight: 100;
  color: white;
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.1;
}

.heading strong {
  color: var(--color-theme-text);
  font-family: var(--font-family-header);

  &:hover:after {
    //transform: scale(50) translateY(-50%);
  }

  &:after {
    content: ".";
    color: white;
    font-size: 1em;
    line-height: 0;
    //display: inline-block;
    //transition: transform 5s ease-in-out;
  }
}

