@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.root {
  padding: 2rem 0;
  background-color: var(--color-green);
  background-image: url(/static/images/hex-grid.png);
  background-repeat: repeat-x;
  background-size: 6rem;
  composes: zigzag-bottom from '../../styles/shared.module.css';
  --border-color: var(--color-green);

  @media (--media-min-medium) {
    padding: 16rem 0;
  }
}

.content {
  max-width: var(--width-small);
  margin: 0 auto;
}

.heading {
  font-family: var(--font-family-sans);
  font-weight: 100;
  color: white;
  text-align: center;
  font-size: 2rem;

  /*strong {
    color: var(--color-theme-text);
    font-family: var(--font-family-header);
  }*/
}
