@import "../../styles/custom-media.css";
.root {
  padding: var(--spacing-nice) 0;
  background-color: var(--color-section-odd);

  @media (--media-min-medium) {
    padding: var(--spacing-relaxed) 0;
  }
}

.introText {
  margin: 0 auto;
  max-width: var(--width-medium);
  padding: var(--spacing-nice) var(--spacing-nice) 0;
}

.container {
  max-width: var(--width-medium);
  padding: var(--spacing-nice);
  margin: 0 auto;

  & h2, & h3 + h3 {
    font-size: var(--font-title3-size);
    line-height: var(--font-title3-line-height);
    font-family: var(--font-family-sans);
    font-weight: 200;
    text-transform: uppercase;
    margin: 0 0 0.25em;
    color: var(--color-theme-text);
    margin-bottom: 0;
    line-height: 1;
  
    @media (--media-max-medium) {
      margin-top: var(--spacing-nice);
    }
  }

  & h3 + h3 {
    font-size: var(--font-title4-size);
    line-height: var(--font-title4-line-height);
  }

  @media (--media-min-medium) {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-gap: 2rem 4rem;
  }
}

.heading {
  text-align: center;
  font-size: var(--font-title3-size);
  line-height: var(--font-title3-line-height);
  margin: 0 0 0.5rem;

  @media (--media-min-medium) {
    font-size: var(--font-title2-size);
    line-height: var(--font-title2-line-height);
  }
}

.subtitle {
  text-align: center;
  margin: 0.5rem 0 1.5rem;
  color: var(--color-green);
}

.form {
}

.form input,
.form textarea {
  -webkit-font-smoothing: inherit;
  font: inherit;
  display: block;
  border: 2px solid rgba(0,0,0,0.3);
  flex-grow: 1;
  padding: 1rem;
  width: 100%;
  max-width: 100%;
  border-radius: 0;
  box-sizing: border-box;
  margin-bottom: 1rem;

  @media (--media-min-medium) {
    padding: 1em;
  }
}

.form button {
  -webkit-font-smoothing: inherit;
  font: inherit;
  background: var(--color-green);
  color: white;
  border: 0;
  margin-top: 1.5rem;
  display: block;
  padding: 1em 1.5em;
}
