@import "../../styles/custom-media.css";
@import '../../styles/custom-properties.css';

.root {
  padding: 2rem 0;
  background-color: var(--color-section-odd);

  @media (--media-min-medium) {
    padding: 4rem 0;
  }
}

.container {
  width: 100%;
  max-width: var(--width-small);
  padding: 0 1.5em;
  box-sizing: border-box;
  margin: 0 auto;
}

.heading {
  text-align: center;
  font-size: var(--font-title3-size);
  line-height: var(--font-title3-line-height);
  margin: 0 0 0.5rem;

  @media (--media-min-medium) {
    font-size: var(--font-title2-size);
    line-height: var(--font-title2-line-height);
  }
}

.subtitle {
  text-align: center;
  margin: 0.5rem 0 1.5rem;
}

.form {
}

.form input,
.form textarea {
  -webkit-font-smoothing: inherit;
  font: inherit;
  display: block;
  border: 2px solid rgba(0,0,0,0.3);
  flex-grow: 1;
  padding: 1rem;
  width: 100%;
  max-width: 100%;
  border-radius: 0;
  box-sizing: border-box;
  margin-bottom: 1rem;

  @media (--media-min-medium) {
    padding: 1em;
  }
}

.form button {
  -webkit-font-smoothing: inherit;
  font: inherit;
  background: var(--color-green);
  color: white;
  border: 0;
  margin-top: 1.5rem;
  display: block;
  padding: 1em 1.5em;
}
