@import '../../styles/custom-media.css';
.root {
  background: white;
  padding: var(--spacing-relaxed) 0;
  min-height: 50vh;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-gap: var(--spacing-relaxed) var(--spacing-nice);
  color: var(--color-text-special);
  max-width: var(--width-large);
  margin: 0 auto;
  padding: 0 1.5rem;

  @media (--media-max-medium) {
    grid-gap: var(--spacing-nice);
  }
}

.item {
  display: grid;
  grid-template-columns: 4.5rem auto;
  grid-gap: 2rem;
  align-items: center;
}

.content {
}


.header {

}

.image {
  filter: grayscale(1);
  border-radius: 100%;
  max-width: 100%;
}

.title {
  font: var(--font-family-sans);
  color: var(--color-theme-text);
  font-size: var(--font-large-size);
  text-decoration: none;
  /*
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  */

  &:hover {
    text-decoration: underline;
  }
}

.label {
  color: var(--color-gray);
  font-size: 0.8em;
  margin-top: 0.25rem;
  text-transform: capitalize;
}

