@import '../../styles/custom-media.css';
.root {
  padding: 2rem 0;
  background-color: var(--color-theme-dark);

  @media (--media-min-medium) {
    padding: 4rem 0;
  }
}

.article {
  max-width: var(--width-medium);
  margin: 0 auto;
  width: 100%;
  padding: 0 1.5rem;
  box-sizing: border-box;
  text-align: center;
}

.label {
  font-size: var(--font-micro-size);
  line-height: var(--font-micro-line-height);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-top: 1em;
}

.heading {
  composes: label from '../../styles/shared.module.css';
  text-align: center;
  font-size: var(--font-title2-size);
  display: inline-block;
  margin-bottom: 1.5rem;
  background-color: transparent;

  @media (--media-min-medium) {
    margin-bottom: 3rem;
  }
}

.groupTitle {
  color: var(--color-green);
  font-size: var(--font-title25-size);
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  grid-gap: 3rem;
  max-width: var(--width-x-small);
  text-align: left;
  margin: 0 auto;

  @media (--media-min-medium) {
    max-width: unset;
    margin: unset;
  }
}

.item {
  flex: 1;
  text-align: center;
}

.item p {
  text-align: left;
  color: var(--color-green);
  line-height: 1.75;
}

.item a {
  color: var(--color-theme-text);
  text-decoration: none;
}

.image {
  object-fit: contain;
  object-position: bottom;
  margin-bottom: 1rem;
  height: 9rem;
  max-width: 9rem;
}

.itemTitle {
  color: var(--color-theme-text);
  text-align: left;
}

.label+.heading {
  margin-top: 0.25em;
}
